*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Eduction_overall{
    min-height:120vh ;
    background-color: #100028;
    padding: 20px;
    z-index: 1;
    position: relative;
    
}
.Eduction_heading{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.Eduction_heading>h1{
    font-size: 17cqmin;
    color: var(--gray);
}
.Eduction_heading>h2{
    font-size: 13cqmin;
    color: var(--cyan);
    position: absolute;
    top: 5px;
}
/* .Education_line{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Education_line::after{
    content: "";
    position: absolute;
    width: 3px;
    background-color: #00bfe7;
    top: 150px;
    left: 50%;
    bottom: 0;
    border-radius: 2px;
    margin-left: -3px;
}
.Education_content_overall{
    display: flex;
    gap: 50px;
    position: relative;
    top: 60px;
  
}
.Education_content{
    width: 500px;
    padding: 20px;
    background: linear-gradient(160deg, rgb(0, 191, 231), rgb(202, 240, 248)) rgb(67, 67, 67);
    position: relative;
}
.Education_content>h2{
    padding: 15px 0;
}
.Diamound{
    height: 30px;
    width: 30px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background: linear-gradient(160deg, rgb(0, 191, 231), rgb(202, 240, 248)) rgb(67, 67, 67);
    border-color: transparent transparent transparent rgb(0, 191, 231);
    position: relative;
    border: 1px solid black;
    right: -465px;
    top: -160px;
    z-index: -1;
}
.circle{
    height: 20px;
    width: 20px;
    border: 1px solid black;
    border-radius: 50%;
    background: linear-gradient(160deg, rgb(0, 191, 231), rgb(202, 240, 248)) rgb(67, 67, 67);
    position: relative;
    top: 17px;
    z-index: 1;
}
.anit_direction{
    left: -35px;
    top: -160px;
}
.overall1{
    right: 305px;
}
.overall2{
    left: 306px;
    top: 100px;
}
.overall3{
    top: 150px;
    right: 305px;
}
.overall4{
    left: 306px;
    top: 200px;
}
.left::before{
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: -10px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #00bfe7;
}
.Education_content_overall::after{
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -66px;
    background-color: #00bfe7;
    top: 19px;
    border-radius: 50%;
    z-index: 1;
}
.right::after{
    left: -70px
}
.right::before{
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: -10px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #00bfe7 transparent transparent;
}


@media screen and (min-width:800px) and (max-width:1260px) {
    .Eduction_overall{
        min-height: 280vh;
    }
    .Education_content{
        width: 400px;
    }
    .overall1{
        right: 255px;
    }
    .overall2{
        left: 256px;
        top: 100px;
    }
    .overall3{
        top: 150px;
        right: 255px;
    }
    .overall4{
        left: 256px;
        top: 200px;
    }
}
@media screen and (min-width:300px) and (max-width:925px){
    .Education_line{
        display: flex;
        justify-content: start;
    }
    .Education_line::after{
        left: 137px;
        display: none;
    }
    .Education_content{
        width: 450px;
    }
    .left::before{
        content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: -10px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #00bfe7 transparent transparent;
    }
    .Education_content_overall::after{
        left: -70px
    }
    .overall1{
        left: 70px;
    }
    .overall2{
        left: 70px;
        top: 100px;
    }
    .overall3{
        top: 150px;
        left: 70px;
    }
    .overall4{
        left: 70px;
        top: 200px;
    }
}
@media screen and (min-width:300px) and (max-width:600px){
    .Education_content{
        width: 350px;
    }
}
@media screen and (min-width:300px) and (max-width:500px){

    .Education_content{
        width: 250px;
    }
    .Education_content>h1{
        font-size: 1.2rem;
    }
    .Education_content>h2{
        font-size: 1rem;
    }
    .left::before{
        display: none;
    }
    .Education_content_overall::after{
        display: none;
    }
    .right::after{
        display: none;
    }
    .right::before{
   display: none;
    }
    .overall1{
        left: 0px;
    }
    .overall2{
        left: 0px;
        top: 100px;
    }
    .overall3{
        top: 150px;
        left: 0px;
    }
    .overall4{
        left: 70px;
        left: 0px;
    }
    
}
@media screen and (min-width:600px) and (max-width:920px){
    .Eduction_overall{
        min-height: 250vh;
    }
}
@media screen and (min-width:501px) and (max-width:600px){
    .Eduction_overall{
        min-height: 230vh;
    }
    .Education_content>h1{
        font-size: 1.4rem;
    }
    .Education_content>h2{
        font-size: 1.2rem;
    }
}
@media screen and (min-width:300px) and (max-width:500px){
    .Eduction_overall{
        min-height: 230vh;
    }
} */

.education{
    display: flex;
    justify-content:space-evenly;
    gap:50px;
    padding:50px;
    flex-wrap: wrap;
    color: white;
}

.edu-details{
    width: 500px;
    padding: 20px;
    display: flex;
    gap: 15px;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    border-left: 1px solid white;
    position: relative;
    font-size: 14px;
}

.grad-cap{
    font-size: 45px;
    background-color: var(--cyan);
    color:white;
    border-radius: 50%;
    padding: 5px 7px;
    position:absolute;
    top: -15px;
    left: -23px;
}

.edu-details p:first-child{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    padding: 3px 10px;
    color: rgb(102, 102, 102);
    background-color: rgb(197, 197, 197);
    border-radius: 20px;
    display: inline;
}

.edu-details p:nth-child(2){
    font-family: "Poppins";
    text-transform: uppercase;
    
}

.edu-details p:nth-child(2) span{
    color:white;
    font-weight: bold;
    font-size: 14px;
}

.edu-details p:nth-child(3){
    font-family: "Open Sans", sans-serif;
    color: rgb(102, 102, 102);
    color:white;
}

@media only screen and (max-width:950px) {
    .prog{
        width: 500px;
    }

    .about-details{
        flex-direction: column;
    }

    .info p{
        font-size: 15px;
    }

}

@media only screen and (max-width:500px) {
    .prog{
        width: 300px;
    }

    .about-info{
        flex-direction: column;
    }

    .info p{
        font-size: 13px;
    }
    
    .education{
        padding: 20px 5px 20px 25px;
    }
}